body {
  margin: 0;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff !important
}

html {
  background-color:#ffffff;
}

code {
  font-family: 'Roboto Slab', serif;
}


@media screen  and (min-device-width: 1200px) and (max-device-width: 1600px)  {

  *{
    box-sizing: border-box;
    font-size: 15px;
  }

  body{
    font-size: 15px
  }
}